# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.MyStore.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Code\GitHub\my-store\MyStore\.idea\.idea.MyStore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
